<div class='form' id="form" style="height: 480px" method='POST' action='/configuration'>
	<div class="w2ui-page page-0">
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Server host:</label>
			<div>
				<input name="host" type="text" maxlength="100" style="width: 250px !important;" value='<%= host %>'>
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Server port:</label>
			<div>
				<input name="port" type="text" maxlength="100" style="width: 250px !important;" value='<%= port %>'>
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Server behind load balancer ?:</label>
			<div>
				<input name="hidePort" type="checkbox" maxlength="100" style="width: 250px !important;" <%= hidePort ? "checked": ""%> />
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Server behind https ?:</label>
			<div>
				<input name="secure" type="checkbox" maxlength="100" style="width: 250px !important;" <%= secure ? "checked": ""%> />
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Home URI:</label>
			<div>
				<input name="homeuri" type="text" maxlength="100" style="width: 250px !important;" value='<%= homeuri %>'>
			</div>
		</div>
	</div>
	
	<div class="w2ui-page page-1">
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Database:</label>
			<div>
				<input name="db__use" type="list" maxlength="100" style="width: 250px !important;" value='<%= db.use %>'>
			</div>
		</div>
		
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Database host:</label>
			<div>
				<input name="db__mongodb__host" type="text" maxlength="100" style="width: 250px !important;" value='<%= db.mongodb.host %>'>
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Database port:</label>
			<div>
				<input name="db__mongodb__port" type="text" maxlength="100" style="width: 250px !important;" value='<%= db.mongodb.port %>'>
			</div>
		</div>
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Database name:</label>
			<div>
				<input name="db__mongodb__dbName" type="text" maxlength="100" style="width: 250px !important;" value='<%= db.mongodb.dbName %>'>
			</div>
		</div>
		
		<br/>
		<hr/>
		<br/>
		<div class='pull-right'>
			<button class="btn btn-default" name="testdb">Test Database Connection</button>
			<a target='new' href='http://www.mongodb.org/downloads?_ga=1.138445744.2085945964.1424807802'>Download Mongo DB &raquo;</a>
		</div>
		<br/>
		<br/>
	</div>
	<div class="w2ui-page page-2">
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Log type:</label>
			<div>
				<input name="logger__logtype" type="list" maxlength="100" style="width: 250px !important;" value='<%= logger.logtype %>'>
			</div>
		</div>
		
		<div class="w2ui-field w2ui-span8" style="clear: both">
			<label>Log directory:</label>
			<div>
				<input name="logger__root" type="text" maxlength="100" style="width: 250px !important;" value='<%= logger.root %>'>
			</div>
		</div>
	</div>
	<div class="w2ui-page page-3">
		<div class="w2ui-field w2ui-span8" style="clear: both">
			Not enabled for the server !!
		</div>
	</div>

	<div class="w2ui-buttons pull-right">
		<button class="btn" name="reset">Reset</button>
		<button class="btn" name="save">Save</button>
		
		<button class="btn btn-default" name="startserver">Restart server</button>
	</div>
</div>