<div style="height: 480px" method='POST' action='/configuration'>
<%	
	var index=0;
	for(var tabindex in tabs){
		var tab = tabs[tabindex];
%>
	<div class="w2ui-page page-<%= index++ %>">
	<%for(var i in tab.fields){
		var field = tab.fields[i];
		if(!field.html)
			field.html={caption:field.field};
	%>
		<%if(field.type&&field.type=='checkbox'){%>
			<div class="w2ui-field w2ui-span8" style="clear: both">
				<label><%= field.html.caption || field.field %>:</label>
				<div>
					<input <%= field.disabled ? 'disabled' : '' %> value='true' name="<%= field.field %>" type="<%= field.type||'checkbox' %>" maxlength="100" style="width: 250px !important;" <%= record[field.field] ? "checked":"" %> />
				</div>
			</div>
		<%}else if(field.type&&field.type=='list'){%>
			<div class="w2ui-field w2ui-span8" style="clear: both">
				<label><%= field.html.caption || field.field %>:</label>
				<div>
					<input <%= field.disabled ? 'disabled' : '' %> name="<%= field.field %>" type="<%= field.type||'list' %>" maxlength="100" style="width: 250px !important;" value='<%= record[field.field] %>'>
				</div>
			</div>
		<%}else{%>
			<div class="w2ui-field w2ui-span8" style="clear: both">
				<label><%= field.html.caption || field.field %>:</label>
				<div>
					<input <%= field.disabled ? 'disabled' : '' %> name="<%= field.field %>" type="<%= field.type||'text' %>" maxlength="100" style="width: 250px !important;" value='<%= record[field.field] %>'>
				</div>
			</div>
		<%}%>
	<%}%>
	<%if(tab.buttons){%>
	<br/>
	<hr/>
	<br/>
	<%
		for(var i in tab.buttons){
			var field = tab.buttons[i];
			if(!field.html)
				field.html={caption:field.field};
	%>
		<%if(field.type&&field.type=='link'){%>
			<div class='pull-right'><a target='new' href='<%= field.action %>'><%= field.html.caption || field.field %></a></div>
		<%}else{%>
			<div class='pull-right'>
				<button class="btn btn-default" name="<%= field.action || field.field %>"><%= field.html.caption || field.field %></button>
			</div>
		<%}%>
	<br/>
	<%
		}
	}
	%>
	</div>
<%}%>
	<div class="w2ui-buttons pull-right">
		<button class="btn" name="reset">Reset</button>
		<button class="btn" name="save">Update</button>
	</div>
</diV>